@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
}

.acapique {
        font-size: 24px;
}

.center {
	text-align: center;
}

#azeliaBarLg {
	position: fixed;
	left: 0;
	right: 1;
	top: 1;
	font-family: 'Almarai', sans-serif;
}

#azeliaBarLinks {
	position: fixed;
	left: 1;
	right: 0;
	top: 1;
}

#azeliaFooter {
	position: fixed;
	bottom: 0;
}

