body {
	font-family: 'Open Sans', sans-serif;
}

.acapique {
        font-size: 24px;
}

.center {
	text-align: center;
}


#azeliaBarLinks {
	position: fixed;
	left: 1;
	right: 0;
}

#azeliaFooter {
	position: fixed;
	bottom: 0;
}

